<h1>Hi <%=link.email%></h1>
<br>
<br>
<p>This is a Recovery Mail, to reset your Password.</p>
<p>Click on this <a href="http://localhost:8000/reset/recover/?access_token=<%=link.accessToken%>">link</a> to rest your Password.</p>