#create-camp-btn {
  position: absolute;
  top: 10px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  right: 50px; }

.modal-lg {
  max-width: 90%; }
